# --- For Bot Working --- #
pyrofork
tgcrypto
pyromod==1.5
aiogram
python-dotenv
psutil
tqdm

# --- For Database --- #
pymongo
motor
umongo
marshmallow
dnspython
cachetools

# --- For Web Response --- #
pillow
pytz
requests
beautifulsoup4
shortzy
aiohttp
aiofiles
asyncio
nest_asyncio
